# Praca z obiektem CAS Table

In [ ]:
import swat
conn = swat.CAS('localhost',5570)

In [ ]:
iris = s.upload_file('../dane/iris.csv')
iris.head()

## Wybór zakresu danych

### Wybór kolumn

Po numerze kolumny:

In [ ]:
iris[[1]].head()

In [ ]:
iris[[1,3,4]].head()

Po nazwie:

In [ ]:
iris[['sepal_width','variety']].head()

Aby wybrać zakres kolumn należy użyć `loc[wiersze,kolumny]` oraz operatora `:`

In [ ]:
iris.loc[:,'sepal_length':'variety'].head()

Więcej przykładów użycia `loc[]` oraz wybierania zakresów kolumn i wierszy znajdziesz tutaj: https://pandas.pydata.org/pandas-docs/stable/indexing.html

Czasami chcemy wybrać kolmny po nazwach, gdzie nazwa spełnia konkretny warunek. W celu osiągnięcia zamierzanego rezultatu, należy przygotować listę kolumn, posługując się metodami dostępnymi w języku Python.

In [ ]:
matching = [s for s in iris.columns if "sepal" in s]
matching

Wybraliśmy wszystkie kolumny zawierające w nazie fragment `sepal`

In [ ]:
iris[matching].head()

### Wybór wierszy

Do wyboru wierszy nie możemy użyć `loc[wiersze,kolumny]`. W systemie rozproszonym nie można wskaząć konkretnego wiersza po numerze wiersze w tabeli.

In [ ]:
iris.loc[1,:].head()

Można za to sprecyzować warunek jaki mają spełniać wiersze

In [ ]:
iris.params.where = 'sepal_length > 6.8 and variety = "Virginica"'
iris

In [ ]:
iris.head()

Obiekt `CASTable` posiada kilka użytecznych parametrów, które możemy ustawić. Jednym z nich jest `where` pozwalający na ustawienie, które rekordy na tabeli będziemy przetwarzać. Od momentu ustawienia `where` wszystkie akcje, jakie wykonamy na tabeli będą uwzględniały tylko wiersze spełniające wstawiony warunek.

Aby pozbyć się warunku można przypisać do `where` pusty string albo usunąć parametr `where` z tabeli za pomocą instrukcji `del`

In [ ]:
iris.params.where = ''
iris.head()

In [ ]:
iris.params.where = 'sepal_length > 6.8 and variety = "Virginica"'
iris

In [ ]:
del iris.params.where
iris

**UWAGA: ustawione na tabeli parametry nie modyfikują załadowanej tabeli. Zmieniają tylko nasz sposób interakcji z tabelą i działają tylko w obrębie posiadanego uchwytu do tabeli. W przypadku gdybyśmy mieli dwa uchwyty wskazujace na tą samą tabelę, w zależności od ustawionych parametrów, wywoływane akcje miałyby inny rezultat.**

In [ ]:
iris.params.where = 'sepal_length > 6.8 and variety = "Virginica"'
iris

In [ ]:
iris.head()

In [ ]:
inny_iris = s.CASTable(name='IRIS',caslib='CASUSER(fl0r3k)')
inny_iris

In [ ]:
inny_iris.head()

In [ ]:
del iris.params.where

## Kolumny wyliczane

Za pomocą `params` w tabeli możemy dodać nowe kolumny. Parametr `computedvars` zawiera nazwy kolumn jakie chcemy dodać za pomocą kalkulacji. Dla przykładu dodamy kolumnę `length_factor`, która będzie iloczynem `sepal_length` oraz `petal_length`.

In [ ]:
iris.params.computedvars = ['length_factor']

Samo dodanie nazwy kolumny oczywiście nie wystarczy. Przy próbie odczytu tabeli dostaniemy błąd.

In [ ]:
iris.head()

Musimy jeszcze dodać kod, za pomocą którego serwer przypisze wartości do naszej kolumny wyliczanej

In [ ]:
iris.params.computedvarsprogram = 'length_factor = sepal_length * petal_length;'

In [ ]:
iris.head()

Możliwe jest wyliczanie wielu kolumn.

In [ ]:
iris.params.computedvars.append('width_factor')
iris.params.computedvarsprogram = iris.params.computedvarsprogram + 'width_factor = sepal_width * petal_width;'
iris

W razie gdyby powyższy kod, ktoś uruchomił kilka razy ;)

In [ ]:
iris.params.computedvars = ['length_factor','width_factor']
iris.params.computedvarsprogram = '''
    length_factor = sepal_length * petal_length;
    width_factor = sepal_width * petal_width;
'''
iris

In [ ]:
iris.head()

# Ćwiczenie 2

1\. Korzystając ze zbioru `class.csv` przelicz kolumny z jednostek imperialnych na metryczne a następnie oblicz index masy ciała (BMI).
1'' = 0.0254 m
1 lbs = 0.453592 kg

2\. Wylicz statystyki opisowe dla wszystkich zmiennych numercznych. (describe)

3\. Używająć akcji `head` albo `fetch` pobierz imiona osób w klasie z niedowagą i nadwagą.

4\. Usuń wszystkie tabele oraz zakończ aktywne sesje.